:root {
    --primary-color: #4780c0;
    --secondary-color: #fff;
    --tertiary-color: #a0b2c762;
    --hover-color: #84b0e2;
    --primary-font: cursive;
}

/* header styling */

.app{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    background-color: var(--primary-color);
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);    
}

header h1 {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 200;
}

/* Footer styling */

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc
}

/* Table Styling  */

div table{
    margin: 0 auto;
    width: 90%;
}

.no-border-breaks {
    border-collapse: collapse;
}
th, td{
    padding: 15px;
    text-align: left;
    font-family: var(--primary-font);
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

tr:hover td{
    background-color: var(--hover-color);
}

tr:nth-child(odd){
    background-color: var(--tertiary-color);
}

/* Landing Page upload STIX styling */

.upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 20px;
}

.upload-form input[type="file"]{
    width: 0px;
    height: 0px;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    opacity: 0;
}

Label[for="file"] {
    border: 3px solid #000;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 24pt;
    font-family: var(--primary-font);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.upload-form button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 24pt;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Visualizer Page */

.visualizer {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.json-view {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    border: 2px solid var(--primary-color);
    margin-top: 8px;
    margin-right: 8px;
    scrollbar-width: False;
    overflow-y: auto;
}

#network-diagram{
    flex: 10 1 auto;
    min-height: 500px;
    margin-top: 8px;
    border: 2px solid var(--primary-color);
    align-items: center;
}


.jsonGraph {
    flex: 2 2 auto;
}

.json-view-header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px;
    margin: 8px;
}

.list-item-no-bullet {
    list-style-type: none;
    width: 100%;
    margin: 4px;
    padding: 4px;
}

.collapsible-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.collapse-button{
    width: 100%;
}